
h3, p { background-color: white;}
h1 { color:white;
    background-color:black ;}
h2 {color:white;
    background-color: rgb(103, 103, 196);}
p span {color:red}
    {background-color: white;}
.tekstas {background-color: white;}
