body { background-color: white;}

 h1 {color:white;
    background-color: #37ad86;}

.fonas {color:black;
    font-weight: bold;
    font-size: 1em;
    background-color: blanchedalmond;}

.fonas1 {color:white;
    font-weight: bold;
    font-size: 1em;
    background-color: blueviolet;}

#eilute {color:red;
        background-color: black;}